@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  color: blue;
  background-color: #94D0CC;
  width: var(--width);
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border: 1px solid darkgoldenrod;
  border-radius: 2em;
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  /* box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2); */
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.box:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
  /* box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2); */
}

.box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  left: -100%;
  transition: 0.5s;
}

.box:hover::before {
  left: 100%;
}

.btn.box.dark{
  background-color: #2b2a2a;
  color: white;
}

.App{
  height: 723px;
  text-align: center;
  font-family: 'Ubuntu',
  sans-serif;
  color: rgb(99, 94, 94);
}

.App.dark{
  background-color: black;
  color: white;
}

.form{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form input{
  padding: 0 10px;
  border-radius: 50px;
}

.form button{
  margin: 0 10px;
  border-radius: 50px;
}

.weather{
  margin-top: 25px;
  text-align: center;
}

.card{
  height: 500px;
  margin: auto 100px;
  border-radius: 30px;
  box-shadow: 0px 0px 17px 4px #ee6e6e;
  background-color: #94D0CC;
}

.card.dark{
  background-color: rgb(27, 27, 27);
}

.name_styling_l{
  font-size: 2rem;
  font-weight: 700;
  padding: 60px 80px 60px 120px;
}

.name_styling_r {
  font-size: 2rem;
  font-weight: 700;
  padding: 60px 120px 60px 20px;
}

img{
  width: 50%;
}

.name_styling_bottom img {
  width: 30%;
}

.max_temp{
  color: red;
}

.min_temp {
  color: green;
}

.toggle_theme{
  position: fixed;
  top: 10px;
  right: 48%;
}
